.atm-PIN-error-msg {
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 6px;
  text-align: center;
}

.atm-PIN-input {
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  font-style: normal;
  color: white;
  font-size: 10px;
}

.atm-PIN-btn-wrp {
  margin: 3px auto auto auto;
  justify-content: center;
}

.atm-PIN-btn {
  cursor: pointer;
  margin: 1px;
  border: 10px; /* Ajusta el margen según tus necesidades */
}
