.atm-panel-wrp {
  display: flex;
  margin: 5px 5px 0px 5px;
}

.atm-panel-btn-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  gap: 4px;
  margin-bottom: 8px;
}

.atm-screen {
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: rgb(126, 180, 213);
  height: 10.5rem;
  width: 10rem;
  border: 4px solid rgb(225, 225, 214);
  flex-grow: 1;
}

.atm-screen p {
  font-family: "Press Start 2P", system-ui;
  font-weight: 100;
  font-style: normal;
  color: white;
}

.atm-screen-title {
  text-align: center;
  font-size: 11px;
  margin: 2px;
  margin-top: 15px;
}
